/*=====Colors==========
Background - #F5F6FA
Green - #4ABDAC
=======================*/

/*=====================
    Genral Settings 
 ======================*/
*,
*::after,
*::before {
    margin    : 0;
    padding   : 0;
    box-sizing: inherit;
}

html {
    /* font-size: 10px; */ /* 1rem = 10px */ /* but when we set this up as a pixel value old people can't cange the fontsize from the bowser */
    /* this will simplifies the all rem value calculations */
    font-size: 62.5%; 
}

body {
    font-family     : 'lato', sans-serif;
    /* font-size    : 1.6rem; */
    font-weight     : 400;
    line-height     : 1.7;
    color           : #777;
    background-color: #F5F6FA;
    box-sizing      : border-box;

}
/* End - General Settings */

/*==============================
    Side Menu-Bar
================================*/

#wrapper {
    padding-left      : 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition   : all 0.5s ease;
    -o-transition     : all 0.5s ease;
    transition        : all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 25rem;
}

#sidebar {
    z-index         : 100;
    position        : fixed;
    left            : 25rem;
    width           : 0;
    height          : 100vh;
    max-height      : 100vh;
    margin-left     : -25rem;
    padding-top     : .5rem;
    overflow        : hidden;
    background-color: #fff;
    font-weight     : 400;
    color           : #47484A;
    /*sidebar font color */
    opacity           : 0.9;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition   : all 0.5s ease-in-out;
    -o-transition     : all 0.5s ease-in-out;
    transition        : all 0.5s ease-in-out;
    -webkit-box-shadow: 7px 0px 11px -11px rgba(0, 0, 0, 0.77);
    box-shadow        : 7px 0px 11px -11px rgba(0, 0, 0, 0.77);
    display           : flex;
    /* flex properties */
    justify-content: space-between;
    flex-direction : column;
}

#wrapper.toggled #sidebar {
    width: 25rem;

}

#right-side-wrapper {
    /* This is the main content Window */
    width   : 100%;
    position: absolute;

}

#wrapper.toggled #right-side-wrapper {
    /* We move it contents with the sidebar animation */
    position: absolute;
    /* Otherwise it will overlapsed */
    margin-right: -25rem;

}

/*Styles Of Side Menu-Bar*/

.sidebar__logo {
    text-align: center;
    margin-top: .5rem;
}

.sidebar__logo img {
    width       : 10rem;
    height      : auto;
    margin-right: 2rem;

}

.toggle_menu {
    /*position      : fixed;
    left            : 0;*/
    padding         : .5rem 1rem .5rem 1rem;
    /*margin-top    : 10px;*/
    color           : white;
    cursor          : pointer;
    background-color: #648B79;
    z-index         : 10000;
    font-size       : 2rem;
    transition      : all 0.4s ease-out;
}

.sidebar__nav-top-section {
    margin-bottom: auto; /*from doing this, section will take all the bottom space, so no need to write any css rules for the bottom section */
    margin-top   : 2rem;
}

/* Navigation List Styles */
.sidebar__nav-list {
    margin     : 2rem 0;
    display    : block;
    width      : 20rem;
    margin-left: 2.5rem;
    list-style : none;
}

.sidebar__nav-item {
    font-weight        : 200;
    padding-bottom     : 1.2rem;
    padding-top        : 1.8rem;
    box-sizing         : border-box;
    font-size          : 1.4rem;
    border-top         : .2rem solid;
    border-bottom      : .2rem solid;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 0%, rgba(240, 240, 240, 0.8158613787311799) 70%, rgba(255, 255, 255, 1) 100%);
    transition         : all 0.1s ease-in-out;
    cursor             : pointer;
}

.sidebar__icon-container{
    text-align: right;
}

.sidebar__icon {
    font-size: 2.4rem;
    display: inline-block;

}

.sidebar__text {
    font-size: 1.4rem;

}

.sidebar__nav-item:hover {
    color              : #47484A;
    border-top         : .2rem solid;
    border-bottom      : .2rem solid;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(157, 152, 152, 1) 0%, rgba(157, 152, 152, 0.8802871490393032) 70%, rgba(255, 255, 255, 1) 100%);
    border-image-slice : 1;
    transition         : all 0.1s ease-in-out;
}


/*END - Styles Of Side Menu-Bar
=================================*/


/*==================================
        Main Content - Right Side
===================================*/

/*=========================
        Top Navigation
===========================*/

.top-nav {
    height            : 5rem;
    width             : 100%;
    background-color  : #fff;
    /*box-shadow      :0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;*/
    -moz-box-shadow   : .1rem .2rem .4rem rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: .1rem .2rem .4rem rgba(0, 0, 0, .5);
    box-shadow        : .1rem .2rem .4rem rgba(0, 0, 0, .5);
}

.top-nav ul {
    float        : right;
    /* margin-top: -3px; */
}

.top-nav ul li {

    list-style   : none;
    display      : inline-block;
    font-size    : 1.5rem;
    font-weight  : 300;
    padding-right: 1rem;
    padding-left : 1rem;
    line-height  : 3.4;
    color        : #8A8D94;
}

.material-icons.top-nav-toggle-icon {
    /* icon customization */
    font-size  : 3.2rem;
    color      : rgba(0, 0, 0, 0.54);
    line-height: 1.6;
    font-weight: bold;

}

.material-icons.top-nav__icon {
    vertical-align: middle;
    margin-bottom : .4rem;
    margin-left   : .5rem;
    font-size     : 2.8rem;
}

.top-nav ul li a:link,
.top-nav ul li a:visited {

    text-decoration: none;
    color          : #777;

}

.top-nav ul li a:hover,
.top-nav ul li a:active {

    color      : #000;
    font-weight: 400;
}

.user-drop-down {
    position: relative;
}


.user-drop-down__menu {
    margin-top        : 1rem;
    background-color  : #fff;
    border-radius     : .5rem;
    width             : 150%;
    height            : auto;
    position          : absolute;
    z-index           : 100;
    -moz-box-shadow   : .1rem .3rem 1rem -.2rem rgba(0, 0, 0, 0.86);
    -webkit-box-shadow: .1rem .3rem 1rem -.2rem rgba(0, 0, 0, 0.86);
    box-shadow        : .1rem .3rem 1rem -.2rem rgba(0, 0, 0, 0.86);
    display           : none;
}

.active {
    display: block;
}

/* User Drop Down */
.user-drop-down__menu:before {
    /* Arow icon  */
    content: "";
    /* Created using border */
    position    : absolute;
    top         : -2rem;
    left        : 40%;
    transform   : translateX(-50%);
    border      : 1rem solid;
    border-color: transparent transparent #fff transparent;
}

.user-drop-down__menu ul {
    float       : none;
    margin-left : auto;
    margin-right: auto;
    width       : 70%;
}

.user-drop-down__menu ul li {
    list-style : none;
    line-height: 3.0;
    display    : block;
}

/*End - User Drop Down */

/*END-Navigation*/

/*==============================
        Budget App Cards
 =============================== */

.bgt-mas {
    /* This class is essential for the masonery Grid */
    float     : left;
    min-height: 2rem;
}

.budget-cards-wrapper {
    margin-bottom: 3rem;
}

/* clearfix */
.budget-cards-wrapper:after {
    /* also for the masonery Grid , Not essential, For the Good Practice */
    content: '';
    display: block;
    clear  : both;
}

.budget-card {
    background-color     : #fff;
    padding              : 1.5rem;
    padding-right        : 1rem;
    border               : .1rem solid rgba(0, 0, 0, .125);
    /* -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.57); 
    box-shadow           : 0px 0px 3px 1px rgba(0,0,0,0.57); */
}

.budget-card__header{
    margin-bottom: 5px;
}

.budget-card__title{
    color: #4ABDAC;
}

.budget-card__title h2{
    font-size: 32px;
    font-weight: 700;
    background: #ffffff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.budget-card__total{
    text-align: right;
    padding-right: 20px;
}

.budget-card__total h3{
    font-size: 24px;
    font-weight: 600;
}

.budget-card__total h4{
    font-size: 32px;
    font-weight: 600;
}

.budget-card__form{
    margin-bottom: 10px;
}

.budget-card__body {
    background-color: #F5F6FA;
    padding-left    : 1rem;
    padding-right   : 1rem;
    padding-top     : 2rem;
    padding-bottom  : 2rem;
    border-radius   : .6rem;
}


.title-with-border {
    width        : 100%;
    overflow     : hidden;
    margin-bottom: 3rem;
    display      : flex;
    align-items  : flex-end;

}

.title-with-border .title-with-border__h4 {
    order         : 1;
    letter-spacing: -.03em;
    font-weight   : 700;
    margin-bottom : 0;
    color         : #4ABDAC;
    line-height   : 1;
}

.title-with-border:after {
    content         : "";
    order           : 1;
    height          : .2rem;
    margin-bottom   : .2rem;
    margin-left     : 1rem;
    margin-right    : 1rem;
    flex            : 1 1 0%;
    background-color: #e8e8e8;
}

.title-with-border .title-with-border__h4 a {
    display   : block;
    color     : #4ABDAC;
    transition: all .2s ease-in-out;
}

.budget-card__item {
    background-color: #fff;
    padding-top     : 1rem;
    padding-bottom  : .2rem;
    margin-bottom   : 1rem;
    line-height     : .15rem;
}

.budget-card__price-tag {
    text-align: end;
    transition: transform 0.3s;
}

.budget-card h5 {
    font-size: 1.6rem;

}

.budget-card__delete-btn {
    font-size     : 1.6rem;
    background    : none;
    border        : none;
    cursor        : pointer;
    display       : inline-block;
    vertical-align: top;
    margin-top    : -.2rem;
    display       : none;
}

.budget-card__delete-btn:focus {
    outline: none;
}

.budget-card__delete-btn:active {
    transform: translateY(.2rem);
}

.budget-card__item:hover .budget-card__delete-btn {
    display: block;
}

.budget-card__item:hover .budget-card__price-tag {
    transform: translateX(-2rem);
}

/*==============================
     Main - Content - Container
================================*/

.page-content-wrapper {
    padding   : 1.5rem;
    margin-top: 2rem;
}

.main_content {
    background-color: #fff;
    box-shadow      : .1rem .1rem .1rem rgba(0, 0, 0, 0.2);
    border          : .1rem solid rgba(0, 0, 0, .125);
    padding         : 2rem 2rem;
}

/*Section -Titles
==================*/

.content-title {

    padding-left : 0;
    margin-bottom: 4rem;

}

.content-title h2 {
    font-size    : 1.8rem;
    color        : #4e555b;
    margin-bottom: 2rem;
    font-weight  : 400;
}

/*End MAIN CONTENT-Container
===================================*/


/*==================================
Responsive Media Queries
===================================*/
@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar {
        width: 0;
    }

    #wrapper.toggled #sidebar {
        width: 250px;
    }

    #right-side-wrapper {

        position: relative;
    }

    #wrapper.toggled #right-side-wrapper {
        position    : relative;
        margin-right: 0;
    }
}


@media (min-width: 1200px) {/* This applies from 600px onwards */
    html {
        font-size: 10px; 
        
    }
    body{
        font-size: 14px;
    }
}

/* End-Responsive Media Queries
===================================*/