/*=====Colors=====
Background - #F5F6FA
Green - #4ABDAC
=================*/

/*================
 Genral Settings 
 =================*/
* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    /* this will simplifies the all rem value calculations */
}

/*Font Settings*/
body {
    font-family     : 'lato', sans-serif;
    /* font-size    : 1.6rem; */
    font-weight     : 400;
    line-height     : 1.7;
    color           : #777;
    background-color: #F5F6FA;

}

/* End - General Settings */


/*==============================
    Side Menu-Bar
================================*/

#wrapper {
    padding-left      : 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition   : all 0.5s ease;
    -o-transition     : all 0.5s ease;
    transition        : all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index         : 100;
    position        : fixed;
    left            : 250px;
    width           : 0;
    height          : 100vh;
    max-height      : 100vh;
    margin-left     : -250px;
    padding-top     : 5px;
    overflow        : hidden;
    background-color: #fff;
    font-weight     : 400;
    color           : #47484A;
    /*sidebar font color */
    opacity           : 0.9;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition   : all 0.5s ease-in-out;
    -o-transition     : all 0.5s ease-in-out;
    transition        : all 0.5s ease-in-out;
    -webkit-box-shadow: 7px 0px 11px -11px rgba(0, 0, 0, 0.77);
    box-shadow        : 7px 0px 11px -11px rgba(0, 0, 0, 0.77);
    display           : flex;
    /* flex properties */
    justify-content: space-between;
    flex-direction : column;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;

}

#page-content-wrapper {
    /* This is the main content Window */
    width   : 100%;
    position: absolute;

}

#wrapper.toggled #page-content-wrapper {
    /* We move it contents with the sidebar animation */
    position: absolute;
    /* Otherwise it will overlapsed */
    margin-right: -250px;

}

/*Styles Of Side Menu-Bar*/

.logo-side-bar {
    text-align: center;
    margin-top: 5px;
}

.logo-side-bar img {
    width       : 100px;
    height      : auto;
    margin-right: 20px;

}

.toggle_menu {
    /*position      : fixed;
    left            : 0;*/
    padding         : 5px 10px 5px 10px;
    /*margin-top    : 10px;*/
    color           : white;
    cursor          : pointer;
    background-color: #648B79;
    z-index         : 10000;
    font-size       : 20px;
    transition      : all 0.4s ease-out;
}

/* Navigation List Styles */
.navigation_section {
    margin     : 20px 0;
    display    : block;
    width      : 200px;
    margin-left: 25px;
    list-style : none;
}

.navigation_item {
    font-weight        : 200;
    padding-bottom     : 12px;
    padding-top        : 18px;
    box-sizing         : border-box;
    font-size          : 14px;
    border-top         : 2px solid;
    border-bottom      : 2px solid;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 0%, rgba(240, 240, 240, 0.8158613787311799) 70%, rgba(255, 255, 255, 1) 100%);
    transition         : all 0.1s ease-in-out;
    cursor             : pointer;


}

.first-list-item {
    margin-bottom: auto;
    margin-top   : 20px;
}

.material-icons.crsidebarIcon {
    font-size: 24px;

}

.sidebarText {
    font-size: 14px;

}


.navigation_item:hover {
    color              : #47484A;
    border-top         : 2px solid;
    border-bottom      : 2px solid;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(157, 152, 152, 1) 0%, rgba(157, 152, 152, 0.8802871490393032) 70%, rgba(255, 255, 255, 1) 100%);
    border-image-slice : 1;
    transition         : all 0.1s ease-in-out;
}

/*END - Styles Of Side Menu-Bar
=================================*/


/*==================================
        Main Content - Right Side
===================================*/

/*=========================
        Top Navigation
===========================*/

.page-nav {
    height            : 50px;
    width             : 100%;
    background-color  : #fff;
    /*box-shadow      :0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;*/
    -moz-box-shadow   : 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow        : 1px 2px 4px rgba(0, 0, 0, .5);
}

.page-nav ul {
    float        : right;
    /* margin-top: -3px; */
}

.page-nav ul li {

    list-style   : none;
    display      : inline-block;
    font-size    : 15px;
    font-weight  : 300;
    padding-right: 10px;
    padding-left : 10px;
    line-height  : 3.4;
    color        : #8A8D94;
}

.material-icons.crMenu {
    /* icon customization */
    font-size  : 32px;
    color      : rgba(0, 0, 0, 0.54);
    line-height: 1.6;
    font-weight: bold;

}

.material-icons.top-nav-icon {
    vertical-align: middle;
    margin-bottom : 4px;
    margin-left   : 5px;
    font-size     : 28px;
}

.page-nav ul li a:link,
.page-nav ul li a:visited {

    text-decoration: none;
    color          : #777;

}

.page-nav ul li a:hover,
.page-nav ul li a:active {

    color      : #000;
    font-weight: 400;
}

.drop-user {
    position: relative;
}


.popup-user {
    margin-top        : 10px;
    background-color  : #fff;
    border-radius     : 5px;
    width             : 150%;
    height            : auto;
    position          : absolute;
    z-index           : 100;
    -webkit-box-shadow: 1px 3px 10px -2px rgba(0, 0, 0, 0.86);
    box-shadow        : 1px 3px 10px -2px rgba(0, 0, 0, 0.86);
    display           : none;
}

.active {
    display: block;
}

/* User Drop Down */
.popup-user:before {
    /* Arow icon  */
    content: "";
    /* Created using border */
    position    : absolute;
    top         : -20px;
    left        : 40%;
    transform   : translateX(-50%);
    border      : 10px solid;
    border-color: transparent transparent #fff transparent;
}

.popup-user ul {
    float       : none;
    margin-left : auto;
    margin-right: auto;
    width       : 70%;
}

.popup-user ul li {
    list-style : none;
    line-height: 3.0;
    display    : block;
}

/*End - User Drop Down */

/*END-Navigation*/

/*==============================
        Budget App Cards
 =============================== */

.bgt-mas {
    /* This class is essential for the masonery Grid */
    float     : left;
    min-height: 20px;
}

.budget-cards-wrapper {
    margin-bottom: 30px;
}

/* clearfix */
.budget-cards-wrapper:after {
    /* also for the masonery Grid , Not essential, For the Good Practice */
    content: '';
    display: block;
    clear  : both;
}

.budget-card-container {
    background-color     : #fff;
    padding              : 15px;
    padding-right        : 10px;
    border               : 1px solid rgba(0, 0, 0, .125);
    /* -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.57); 
    box-shadow           : 0px 0px 3px 1px rgba(0,0,0,0.57); */
}

.budget-card-body {
    background-color: #F5F6FA;
    padding-left    : 10px;
    padding-right   : 10px;
    padding-top     : 20px;
    padding-bottom  : 20px;
    border-radius   : 6px;
}

.budget-card-body-heading {
    width        : 100%;
    overflow     : hidden;
    margin-bottom: 1.875rem;
    display      : flex;
    align-items  : flex-end;

}

.budget-card-body-heading .budget-title {
    order         : 1;
    letter-spacing: -.02em;
    font-weight   : 700;
    margin-bottom : 0;
    color         : #4ABDAC;
    line-height   : 1;
}

.budget-card-body-heading:after {
    content         : "";
    order           : 1;
    height          : 2px;
    margin-bottom   : .25rem;
    margin-left     : .625rem;
    margin-right    : .625rem;
    flex            : 1 1 0%;
    background-color: #e8e8e8;
}

.budget-card-body-heading .budget-title a {
    display   : block;
    color     : #4ABDAC;
    transition: all .2s ease-in-out;
}

.item-info {
    background-color: #fff;
    padding-top     : 10px;
    padding-bottom  : 2px;
    margin-bottom   : 10px;
    line-height     : 1.6px;
}

.price-tag {
    text-align: end;
    transition: transform 0.3s;
}

.budget-card-container h5 {
    font-size: 16px;

}

.delete-btn {
    font-size     : 16px;
    background    : none;
    border        : none;
    cursor        : pointer;
    display       : inline-block;
    vertical-align: top;
    margin-top    : -2px;
    display       : none;
}

.delete-btn:focus {
    outline: none;
}

.delete-btn:active {
    transform: translateY(2px);
}

.item-info:hover .delete-btn {
    display: block;
}

.item-info:hover .price-tag {
    transform: translateX(-20px);
}

/*==============================
     Main - Content - Container
================================*/

.page-content-body-wrapper {
    padding   : 15px;
    margin-top: 20px;
}

.main_content {
    background-color: #fff;
    /*box-shadow    : 0 1px 1px rgba(0, 0, 0, .05);*/
    box-shadow      : 1px 1px 1px rgba(0, 0, 0, 0.2);
    border          : 1px solid rgba(0, 0, 0, .125);
    padding         : 20px 20px;
}

/*Section -Titles
==================*/

.content-title {

    padding-left : 0;
    margin-bottom: 40px;

}

.content-title h2 {
    font-size    : 18px;
    color        : #4e555b;
    margin-bottom: 20px;
    font-weight  : 400;
}

/*End MAIN CONTENT-Container
===================================*/


/*==================================
Responsive Media Queries
===================================*/
@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {

        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position    : relative;
        margin-right: 0;
    }
}

/* End-Responsive Media Queries
===================================*/