$theme-colors: (
  
  "primary": #ff4136
);
$font-size-base: 1.5rem;

@import "node_modules/bootstrap/scss/bootstrap";//bootstrap all in one.
@import "abstracts/variables";
@import "base/base";
@import "layout/top-nav";
@import "components/card";
@import "components/titles";
@import "layout/sidebar";
@import "components/main-container";

/*==================================
 Responsive Media Queries
 ===================================*/
@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar {
        width: 0;
    }

    #wrapper.toggled #sidebar {
        width: 250px;
    }

    #right-side-wrapper {

        position: relative;
    }

    #wrapper.toggled #right-side-wrapper {
        position    : relative;
        margin-right: 0;
    }
}


@media (min-width: 1200px) {

    /* This applies from 600px onwards */
    html {
        font-size: 10px;
    }

    body {
        font-size: 14px;
    }
}
/* End-Responsive Media Queries
 ===================================*/