/*Section -Titles
 ==================*/

 .content-title {
    padding-left : 0;
    margin-bottom: 4rem;

}

.content-title h2 {
    font-size    : 1.8rem;
    color        : #4e555b;
    margin-bottom: 2rem;
    font-weight  : 400;
}
